doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtm")
  
  head
    meta(charset="utf-8")
    title Edsa Dashboard
    //- Google Analytics
    script(src="js/googleAnalytics.js")
    
    link(rel="stylesheet", href="components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css")
    link(rel="stylesheet", href="components/datatables/media/css/jquery.dataTables.css")

    //- Custom styles
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/infoContainers.css")
    link(rel="stylesheet", href="css/searchOptions.css")

    link(rel="stylesheet", href="css/loader.css")

    link(rel="stylesheet", href="css/graphs/europe.css")
    link(rel="stylesheet", href="css/graphs/histogram.css")

  body

    //- Body container
    .container-fluid.body-container
        //- Navbar 
        .navbar.navbar-default.navbar-fixed-top
            .container-fluid
                //- Brand and toggle get grouped for better mobile display
                .navbar-header
                    button(type="button", 
                           class="navbar-toggle collapsed", 
                           data-toggle="collapse", 
                           data-target="#dashboard-options", 
                           aria-expanded="false")

                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    
                    a(class="navbar-brand", href="/") EDSA Dashboard

                //- Collect the nav links, forms, and other content for toggling
                #dashboard-options.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        if locals.activeTab == "PolicyMakers"
                            li.active
                                a(href="/policymakers") Policy Makers
                            li
                                a(href="/jobseekers") Job Seekers
                            //- li 
                            //-     a(href="#") Data Science Experts
                        else if locals.activeTab == "JobSeekers"
                            li
                                a(href="/policymakers") Policy Makers
                            li.active
                                a(href="/jobseekers") Job Seekers
                            //- li 
                            //-     a(href="#") Data Science Experts
        
        //- Page Title and description
        .row.main-title
            .col-lg-12
                if locals.activeTab == "PolicyMakers"
                    h2.center EDSA DASHBOARD | POLICY MAKERS
                else if locals.activeTab == "JobSeekers"
                    h2.center EDSA DASHBOARD | JOB SEEKERS
        .row.search-options
            .col-lg-12
                //- Search options
                .options
                    p
                        h4 SEARCH JOB TRENDS
                    .skill-search-container
                        span#span-skill-search
                            input#skill-search.form-control(type="text", placeholder="Type a skill")
                
                        span#span-skill-search-buttons
                            button.btn.btn-default.pull-right(type="button", onclick="searchOptions('#{locals.activeTab}')") Search
                
                        span#span-skill-search-buttons
                            button.btn.btn-default.pull-right(type="button", onclick="toggleAdvOptions()")
                                span.glyphicon.glyphicon-cog(aria-hidden="true")
                                span#showOptions.glyphicon.glyphicon-chevron-right(aria-hidden="true", data-value="right")

                    //- advance search container
                    .form-horizontal.additional-options(style="display:none;")
                        //- row containing the location and time interval options
                        .form-group
                            .col-xs-2.col-sm-2.col-lg-1
                                label.control-label Location:
                            .col-xs-10.col-sm-10.col-lg-11
                                input#location-search.form-control(type="text", placeholder="Type a city name")
        
        //- Page body
        .row.main-body
            //- statistics container
            .col-lg-4
                #analytics-basic-statistics
                    .box-body
                        table
                            tr
                                th Statistics
                                th Value
                            tr
                                td Job Posts
                                td
                                    #infoStatJobPosts
                            tr
                                td Locations
                                td
                                   #infoStatLocations
                            tr
                                td Skills
                                td
                                    #infoStatSkills
                #query-container
                #info-container

            //- Map container
            .col-lg-8
                .map
                    #map-load-container
                        .map-load-inner
                            label ●
                            label ●
                            label ●
                            label ●
                            label ●
                    #map-container
                        #zoom-container-map
                            span.glyphicon.glyphicon-zoom-in(aria-hidden="true")
                    #timeline-container

        if locals.activeTab == "PolicyMakers"
            include ./includes/policymakers/policymakers.jade
        else if locals.activeTab == "JobSeekers"
            include ./includes/jobseekers/jobseekers.jade


    //- Page Footer - EDSA information
    footer.footer(role="contentinfo")
        .container-fluid
            .row
                .col-lg-1
                .col-lg-10
                    img.footer-eu-picture(src="pics/eu-commission.png")
                    p
                        This project has received funding from the <br />
                        European Union's Horizon 2020<br />
                        research and innovation programme<br />
                        under grant agreement No 643937
                .col-lg-1

     if locals.activeTab == "PolicyMakers"
            include ./includes/policymakers/policymakersScripts.jade
     else if locals.activeTab == "JobSeekers"
            include ./includes/jobseekers/jobseekersScripts.jade