doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtm")

  head
    meta(charset="utf-8")
    title Job Analysis
    //- Google Analytics
    script(src="js/googleAnalytics.js")

    link(rel="stylesheet", href="components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css")
    link(rel="stylesheet", type="text/css", href="components/datatables.net-bs/css/dataTables.bootstrap.min.css")
    link(rel="stylesheet", href="css/animate.css")

    //- Custom styles
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/infoContainers.css")
    link(rel="stylesheet", href="css/searchOptions.css")

    link(rel="stylesheet", href="css/loader.css")

    link(rel="stylesheet", href="css/graphs/europe.css")
    link(rel="stylesheet", href="css/graphs/histogram.css")

    //- Scripts
    script(src="components/jquery/dist/jquery.min.js")
    script(src="components/bootstrap/dist/js/bootstrap.min.js")
    script(src="components/remarkable-bootstrap-notify/bootstrap-notify.js")
    script(src="components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js")
    script(src="components/typeahead.js/dist/typeahead.bundle.min.js")
    script(src="components/datatables.net/js/jquery.dataTables.min.js")
    script(type="text/javascript", src="components/datatables.net-bs/js/dataTables.bootstrap.min.js")
    
    script(src="components/d3/d3.min.js")
    script(src="js/ext/d3-quadtree.v1.min.js")
    script(src="js/ext/d3-tip.js")
    script(src="js/ext/d3.geo.projection.v0.min.js")
    script(src="js/ext/topojson.min.js")

    body
    //- Body container
    .container-fluid.body-container
        //- Navbar
        .navbar.navbar-default.navbar-fixed-top
            .container-fluid.navigation
                //- Brand and toggle get grouped for better mobile display
                .navbar-header
                    button(type="button",
                           class="navbar-toggle collapsed",
                           data-toggle="collapse",
                           data-target="#dashboard-options",
                           aria-expanded="false")

                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar

                //- Collect the nav links, forms, and other content for toggling
                #dashboard-options.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        if locals.activeTab == "PolicyMakers"
                            li.active
                                a(href="/policymakers") POLICY MAKERS
                            li
                                a(href="/jobseekers") JOB SEEKERS
                            //- li
                            //-     a(href="#") Data Science Experts
                        else if locals.activeTab == "JobSeekers"
                            li
                                a(href="/policymakers") POLICY MAKERS
                            li.active
                                a(href="/jobseekers") JOB SEEKERS
                            //- li
                            //-     a(href="#") Data Science Experts

        //- Page Title and description
        .row.search-options
        
            .col-lg-12
                //- Search options
                .options
                    h4 SEARCH JOB TRENDS
                    .skill-search-container
                        span#span-skill-search
                            input#trend-search.form-control(type="text", placeholder="Type a skill or location")

                        span#span-skill-search-buttons
                            button.btn.btn-default.pull-right(type="button", onclick="searchOptions('#{locals.activeTab}')") Search

                        span#span-skill-search-buttons
                            button.btn.btn-default.pull-right(type="button", data-toggle="tooltip", title="Advanced search options", onclick="toggleAdvancedOptions()")
                                span.glyphicon.glyphicon-cog(aria-hidden="true")
                                span#showAdvancedOptions.glyphicon.glyphicon-chevron-right(aria-hidden="true", data-value="right")

                    //- advance search container
                    .form-horizontal.additional-options(style="display:none;")
                        //- row containing the keywords
                        //- .form-group
                        //-     label.col-xs-2.col-sm-2.col-lg-2.control-label Search keywords:
                        //-     .col-xs-10.col-sm-10.col-lg-9
                        //-         input#keyword-search.form-control(type="text")
                        //- row containing the skill
                        .form-group
                            label.col-xs-2.col-sm-2.col-lg-2.control-label Requested Skills:
                            .col-xs-10.col-sm-10.col-lg-9
                                input#skill-search.form-control(type="text", placeholder="Type a skill")
                        //- row containing the location
                        .form-group
                            label.col-xs-2.col-sm-2.col-lg-2.control-label Search Locations:
                            .col-xs-10.col-sm-10.col-lg-9
                                input#location-search.form-control(type="text", placeholder="City or country names")
                        //- row containing the countries
                        //- .form-group
                        //-     label.col-xs-2.col-sm-2.col-lg-2.control-label Countries:
                        //-     .col-xs-10.col-sm-10.col-lg-9
                        //-         input#country-search.form-control(type="text", placeholder="Type a country name")
                        
                        //- row containing the time of interest
                        //- .form-group
                        //-     label.col-xs-2.col-sm-2.col-lg-2.control-label Time of Interest:
                        //-     .col-xs-3.col-sm-3.col-lg-2
                        //-         input#country-search.form-control(type="text")
                        //-     .col-xs-3.col-sm-3.col-lg-2
                        //-         input#country-search.form-control(type="text")

        //- Page body
        div.body-content
            #load-container
                .load-inner
                    label ●
                    label ●
                    label ●
                    label ●
                    label ●  
            .row.main-body
                //- statistics container
                .col-md-4.col-lg-4
                    #info-container
                    #analytics-basic-statistics
                        .box-body
                            table
                                tr
                                    th Statistics
                                    th Value
                                tr
                                    td Job Posts
                                    td
                                        #infoStatJobPosts
                                tr
                                    td Locations
                                    td
                                       #infoStatLocations
                                tr
                                    td Skills
                                    td
                                        #infoStatSkills
                                        
                    #cluster-info-container
                        h4 Cluster data
                        p Click on a query cluster to get its information.
                    //- #query-container
                    //-     button.btn.btn-default.pull-right(type="button", onclick="getPNGfromSVG()") Save Map in PNG

                //- Map container
                .col-md-8.col-lg-8
                    .form-group
                        label(for="querylist") Search Query
                        input#querylist.form-control(type="text", placeholder="Search Query" readonly)
                    .map
                        #map-container
                        #timeline-container
            .row.empty
                    
            if locals.activeTab == "PolicyMakers"
                include ./includes/policymakers/policyMakers.jade
            else if locals.activeTab == "JobSeekers"
                include ./includes/jobseekers/jobSeekers.jade
            
    //- Modal Button and content
    button#error-trigger.btn.btn-primary.hidden(type="button", data-toggle="modal", data-target="#error-modal")

    div#error-modal.modal.fade(role="dialog")
        div.modal-dialog
            //- Modal content
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal") &times;
                    h4.modal-title Query not found

                div.modal-body Using the current skill and/or location searchwords returns an empty query. Try using different searchwords.

                div.modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Close

    //- Page Footer - EDSA information
    //- footer.footer(role="contentinfo")

    if locals.activeTab == "PolicyMakers"
          include ./includes/policymakers/policyMakersScripts.jade
    else if locals.activeTab == "JobSeekers"
      include ./includes/jobseekers/jobSeekersScripts.jade
